openapi: 3.0.2
info:
  title: GDPR Records
  description: Exposes a basic service which holds the records of GDPR processing activities
  version: '1.0'
  termsOfService: 'https://fellesdatakatalog.brreg.no/about'
  contact:
    name: Brønnøysundregistrene
    url: 'https://fellesdatakatalog.brreg.no'
    email: fellesdatakatalog@brreg.no
  license:
    name: License of API
    url: 'http://data.norge.no/nlod/no/2.0'
externalDocs:
  description: Dokumentasjon på Informasjonsforvaltning GitHub
  url: https://informasjonsforvaltning.github.io
tags:
  - name: record
    description: GDPR Record of Processing Activities
servers:
  - url: 'https://records-of-processing-activities.fellesdatakatalog.brreg.no/api'
paths:
  /organizations/{organizationId}/representatives:
    get:
      tags:
        - organization
      summary: Gets the representatives of an organization
      operationId: getRepresentatives
      parameters:
        - in: path
          name: organizationId
          schema:
            type: string
          required: true
      responses:
        '200':
          description: Returns all registered representatives
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Organization'
    patch:
      tags:
        - organization
      summary: Patches the representatives of an organization
      operationId: patchRepresentatives
      parameters:
        - in: path
          name: organizationId
          schema:
            type: string
          required: true
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Organization'
      responses:
        '200':
          description: Patches registered representatives
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Organization'
      
  /organizations/{organizationId}/records:
    patch:
      tags:
        - record
      description: Patch a specific GDPR record by id
      operationId: patchRecordById
      parameters:
        - in: path
          name: organizationId
          schema:
            type: string
          required: true
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Record'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Record'
    post:
      tags:
        - record
      summary: Create a new record
      operationId: createRecord
      parameters: 
        - in: path
          name: organizationId
          schema:
            type: string
          required: true
      responses:
        '201':
          description: Created
          headers:
            Location:
              schema:
                type: string
              description: Relative location to the new record
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Record'
    get:
      tags:
        - record
      summary: Query for GDPR records.
      description: Returns a collection of matching GDPR records
      operationId: getRecords
      parameters:
        - name: organizationId
          in: path
          schema:
            type: string
          required: true
        - name: page
          in: query
          description: Specifies the page
          required: false
          schema:
            type: string
        - name: limit
          in: query
          description: Specifies the maximum amount of records per page
          required: false
          schema:
            type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PagedResource'
  /records/{recordId}:
    get:
      tags:
        - record
      description: Get a specific GDPR record by id
      operationId: getRecordById
      parameters:
        - in: path
          name: recordId
          description: id
          required: true
          schema:
            type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Record'
    delete:
      tags:
        - record
      description: Delete a specific GDPR record by id
      operationId: deleteRecordById
      parameters:
        - name: recordId
          in: path
          description: id
          required: true
          schema:
            type: string
      responses:
        '204':
          description: No Content
components:
  schemas:
    ContactPoint:
      description: Basic contact information
      type: object
      properties:
        name: 
          type: string
        phone:
          type: string
        email: 
          type: string
    Article:
      type: object
      properties:
        checked:
          type: boolean
        referenceUrl:
          type: string
    Representative:
      allOf:
        - $ref: "#/components/schemas/ContactPoint"
        - type: object
          description: Representative contact information
          properties:
            address: 
              type: string
    Organization:
      type: object
      description: Contains the id and all the representatives of an organization
      properties:
        id:
          type: string
        dataControllerRepresentative:
          $ref: "#/components/schemas/Representative"
        dataControllerRepresentativeInEU:
          $ref: "#/components/schemas/Representative"
        dataProtectionOfficer:
          $ref: "#/components/schemas/Representative" 
    PagedResource:
      type: object
      description: Paged resource containing a sublist of records of processing activities
      properties:
        pageNumber:
          description: Current page number
          type: integer
          format: int64
        pagesTotal:
          description: Total number of pages
          type: integer
          format: int64
        size:
          description: Number of returned elements
          type: integer
          format: int64
        hits:
          type: array
          items:
            $ref: "#/components/schemas/Record"
    Record:
      type: object
      description: A GDPR record of processing activities
      properties:
        id:
          type: string
          format: uuid
        status:
          type: string
          enum: 
            - DRAFT
            - APPROVED
            - PUBLISHED
        organizationId:
          type: string
          description: ID of the organization this record belongs to
        purpose:
          type: string
          description: Purpose of processing data
        dataSubjectCategories:
          type: array
          description: En “registrert” er en identifiserbar fysisk person er en person som direkte eller indirekte kan identifiseres, særlig ved hjelp av en identifikator, jfr. Artikkel 4 nr. 1.
          items:
            type: string
        personalDataCategories:
          type: array
          description: «personopplysninger» er enhver opplysning om en identifisert eller identifiserbar fysisk person («den registrerte»), jfr. Artikkel 4 nr. 1.
          items:
            type: string
        recipientCategories:
          type: array
          items:
            type: string
          description: En “mottaker” er en fysisk eller juridisk person, offentlig myndighet, institusjon eller ethvert annet organ som personopplysninger utleveres til, enten det dreier seg om en tredjepart eller ikke.
        personalDataSubjects:
          description: Kilder til opplysningene kan for eksempel være den registrerte selv, egen virksomhet, eller andre.
          type: string
        plannedDeletion:
          type: string
          description: For de forskjellige kategorier av personopplysninger, dersom mulig
        highPrivacyRisk:
          type: boolean
          description: Gjør en vurdering av dette, blant annet med hensyn til eventuell gjennomføring av vurdering av personvernkonsekvenser (DPIA)
        articleSixBasis:
          type: array
          description: Hvis behandlingen gjelder en rettslig forpliktelse, berettighet interesse mv. (c, e, eller f) kan du også henvise til annen lovgivning, dersom relevant.
          items:
            type: object
            properties:
              legality:
                type: string
              referenceUrl:
                type: string
        otherArticles:
          type: object
          description: Det må foreligge et særskilt grunnlag i tillegg til behandlingsgrunnlag for å behandle denne typen opplysninger. Skriv inn henvisning også til annen lovgivning, dersom relevant
          properties:
            articleNine:
              $ref: "#/components/schemas/Article"
            articleTen:
              $ref: "#/components/schemas/Article"
        businessAreas:
          type: array
          description: Skriv inn hvilket overordnet funksjons-eller virksomhetsområde faller behandlingen under
          items:
            type: string
        securityMeasures:
          type: string
          description: Generell beskrivelse av tekniske og organisatoriske sikkerhetstiltak
        privacyProcessingSystems:
          type: string
          description: Skriv inn hvilke systemer som behandler opplysningene.
        dataProcessorContactDetails:
          $ref: "#/components/schemas/ContactPoint"
        commonDataControllerContact:
          type: object
          description: Dersom to eller flere behandlingsansvarlige i fellesskap fastsetter formålene med og midlene for behandlingen, skal de være felles behandlingsansvarlige, jfr. Artikkel 26 nr 1.
          properties:
            companies:
              type: string
            distributionOfResponsibilities:
              type: string
            contactPoints:
              type: array
              items:
                $ref: "#/components/schemas/ContactPoint"
        dataTransfers:
          type: object
          description: Overføring av personopplysningene 
          properties:
            transferred:
              type: boolean
            thirdCountryRecipients:
              description: Skriv inn navn på tredjeland eller internasjonale organisasjoner som personopplysninger overføres til, dersom relevant
              type: string
            guarantees:
              description: Skriv inn nødvendige garantier ved overføring til tredjeland eller internasjonale organisasjoner, dersom relevant
              type: string
        # non-mandatory for Datatilsynet
        title:
          type: string
          description: Data Processing activity name/title
        relatedDatasets:
          description: Dersom behandlingsaktiviteten kan knyttes til et datasett virksomheten forvalter, koble disse sammen. 
          type: array
          items:
            type: string
        dataProtectionImpactAssessment:
          type: object
          description: Hvis du velger Ja, kan du vurdere å lenke til en vurdering av personvernkonsekvenser (DPIA).
          properties:
            conducted:
              type: boolean
            assessmentReportUrl:
              type: string
        dataProcessingAgreement:
          type: array
          items:
            type: object
            description: Skriv inn navn på databehandlere, dersom relevant. Her kan du også lenke til databehandleravtale.
            properties:
              dataProcessorName:
                type: string
              agreementUrl:
                type: string

        
  securitySchemes:
    bearerAuth: # arbitrary name for the security scheme
      type: http
      scheme: bearer
      bearerFormat: JWT # optional, arbitrary value for documentation purposes
security:
  - bearerAuth: []
