openapi: 3.0.2
info:
  title: GDPR Records
  description: Exposes a basic service which holds the records of GDPR processing activities
  version: '1.0'
  termsOfService: 'https://fellesdatakatalog.brreg.no/about'
  contact:
    name: Brønnøysundregistrene
    url: 'https://fellesdatakatalog.brreg.no'
    email: fellesdatakatalog@brreg.no
  license:
    name: License of API
    url: 'http://data.norge.no/nlod/no/2.0'
externalDocs:
  description: Dokumentasjon på Informasjonsforvaltning GitHub
  url: https://informasjonsforvaltning.github.io
tags:
  - name: record
    description: GDPR Record of Processing Activities
servers:
  - url: 'https://records-of-processing-activities.fellesdatakatalog.brreg.no/api'
paths:
  /organizations/{organizationId}/representatives:
    get:
      tags:
        - organization
      summary: Gets the representatives of an organization
      operationId: getRepresentatives
      parameters:
        - in: path
          name: organizationId
          schema:
            type: string
          required: true
      responses:
        '200':
          description: Returns all registered representatives
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Organization'
    patch:
      tags:
        - organization
      summary: Patches the representatives of an organization
      operationId: patchRepresentatives
      parameters:
        - in: path
          name: organizationId
          schema:
            type: string
          required: true
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Organization'
      responses:
        '200':
          description: Patches registered representatives
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Organization'
      
  /organizations/{organizationId}/records:
    post:
      tags:
        - record
      summary: Create a new record
      operationId: createRecord
      parameters: 
        - in: path
          name: organizationId
          schema:
            type: string
          required: true
      responses:
        '201':
          description: Created
          headers:
            Location:
              schema:
                type: string
              description: Relative location to the new record
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Record'
    get:
      tags:
        - record
      summary: Query for GDPR records.
      description: Returns a collection of matching GDPR records
      operationId: getRecords
      parameters:
        - name: organizationId
          in: path
          schema:
            type: string
          required: true
        - name: page
          in: query
          description: Specifies the page
          required: false
          schema:
            type: string
        - name: limit
          in: query
          description: Specifies the maximum amount of records per page
          required: false
          schema:
            type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PagedResource'
  /records/{recordId}:
    get:
      tags:
        - record
      description: Get a specific GDPR record by id
      operationId: getRecordById
      parameters:
        - in: path
          name: recordId
          description: id
          required: true
          schema:
            type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Record'
    patch:
      tags:
        - record
      description: Patch a specific GDPR record by id
      operationId: patchRecordById
      parameters:
        - in: path
          name: recordId
          description: id
          required: true
          schema:
            type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Record'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Record'
    delete:
      tags:
        - record
      description: Delete a specific GDPR record by id
      operationId: deleteRecordById
      parameters:
        - name: recordId
          in: path
          description: id
          required: true
          schema:
            type: string
      responses:
        '204':
          description: No Content
components:
  schemas:
    Representative:
      type: object
      description: Representative contact information
      properties:
        name: 
          type: string
        phone:
          type: string
        email: 
          type: string
        address: 
          type: string
    Organization:
      type: object
      description: Contains the id and all the representatives of an organization
      properties:
        id:
          type: string
        dataControllerRepresentative:
          $ref: "#/components/schemas/Representative"
        dataControllerRepresentativeInEU:
          $ref: "#/components/schemas/Representative"
        dataProtectionOfficer:
          $ref: "#/components/schemas/Representative" 
    PagedResource:
      type: object
      description: Paged resource containing a sublist of records of processing activities
      properties:
        pageNumber:
          description: Current page number
          type: integer
          format: int64
        pagesTotal:
          description: Total number of pages
          type: integer
          format: int64
        size:
          description: Number of returned elements
          type: integer
          format: int64
        hits:
          type: array
          items:
            $ref: "#/components/schemas/Record"
    Record:
      type: object
      description: A GDPR record of processing activities
      properties:
        id:
          type: string
          format: uuid
        status:
          type: string
          enum: 
            - DRAFT
            - APPROVED
            - PUBLISHED
        organizationId:
          type: string
          description: ID of the organization this record belongs to
        purpose:
          type: string
          description: Purpose of processing data
        registeredCategories:
          type: array
          description: //TODO
          items:
            type: string
        personalDataCategories:
          type: array
          description: //TODO
          items:
            type: string
        recipientCategories:
          type: array
          description: //TODO
          items:
            type: string
        deleteDate:
          type: string
          format: date-time
          description: Delete due this date
        securityMeasures:
          type: object
          description: Description of organizational and technical security measures
          properties:
            organizational: 
              type: string
            technical:
              type: string
        dataProcessorContactDetails:
          type: object
          description: Contact details of the Data Processor
          properties:
            name: 
              type: string
            phone:
              type: string
            email:
              type: string
        dataTransfers:
          type: array
          description: List of transfers of personal data to third countries or international organisations
          items:
            type: object
            description: Third-party recipient entity
            properties:
              entityName:
                type: string
              entityType:
                type: string
                enum: 
                  - GDPR-THIRD-COUNTRY 
                  - GDPR-INTERNATIONAL-ORGANIZATION
        # non-mandatory for Datatilsynet
        title:
          type: string
          description: Data Processing activity name/title
        relatedDatasets:
          description: List of related datasets' UUIDs
          type: array
          items:
            type: string
            format: uuid
        dataProtectionImpactAssessment:
          type: string
          description: Optional link to Data Protection Impact Assessment (No DPIA if this field is empty)
        dataProcessingAgreement:
          type: string
          description: Link to Data Processing Agreement
        
  securitySchemes:
    bearerAuth: # arbitrary name for the security scheme
      type: http
      scheme: bearer
      bearerFormat: JWT # optional, arbitrary value for documentation purposes
security:
  - bearerAuth: []
